.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;

    .text {
        max-width: 850px;
        
        .textTitle {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        .textSubTitle {
            font-size: 1rem;
            margin-bottom: 2rem;
            max-width: 450px;
        }

        .textBtn {
            cursor: pointer;

            display: flex;
            align-items: center;
            gap: 1.5rem;

            border-radius: 32px;
            background-color: #3671E9;
            color: white;
            border: none;
            font-size: 18px;
            padding: 1rem;
            padding-left: 1.5rem;
            transition: .4s;

            &:hover {
                transition: .4s;
                background-color: #cf7713;
            }

            a:visited {
                color: white;
            }
        }
    }

}