.card {
    background-color: white;
    padding: 50px;
    margin: 30px;
    color: black;
    text-align: center;
    border-radius: 20px;
    transition: .5s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    .name {
        margin-bottom: 0;
        font-size: 40px;
        font-weight: 700;
        color: black;
        transition: .5s;

        &:hover {
            transition: .5s;
            transform: scale(1.2);
        }
    }
    
}