.title {
    padding: 2rem 1rem;
    text-align: center;
    background-color: white;

    font-weight: 700;
    font-size: 50px;
    color: black;

    border-radius: 10px;
    margin-bottom: 84px;
}