.container {
    cursor: pointer;

    .question {
        font-size: 20px;
        background-color: #261E71;
        padding: 1.5rem 3rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        transition: 1s;

        &Active {
            @extend .question;
            background-color: #423d70;
            border-radius: 10px 10px 0 0;
            
        }
    }

    .answerActive {
        transition: .3s ease;
        padding: 30px 25px;
        color: black;
        font-size: 17px;
        background-color: white;
        border-radius: 0 0 10px 10px;
        transition: .5s;

    }

    .answer {
        transition: .5s;
    }
}