.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9rem;

    .containerItem {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        gap: 30px;
        
        .title {
            font-size: 50px;
            font-weight: 700;
        }

        .text {
            font-size: 20px;

            .selectedText {
                color: rgb(117, 122, 251);
            }
        }

        img {
            display: block;
            width: 70%;
            margin-left: auto;
        }
    }
}

.missionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 84px 112px;
    gap: 60px;


    background-color: white;
    color: black;

    .missionText {
        text-align: center;
        font-size: 25px;

    }

    .missionImg {
        img {
            max-width: 450px;
        }
        
    }

    .missionBtn {
        padding: 12px 170px;
        border: none;
        background-color: #0D0D2B;
        font-size: 25px;
        color: white;
        border-radius: 20px;
        transition: .3s;

        &:hover {
            transition: .3s;
            transform: scale(1.1);
            background-color: #051882;
        }

        a:visited {
            color: white;
        }
    }
}