.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;

    padding: 2rem 3rem;

    color: black;
    background-color: white;
    border-radius: 20px;

    .containerItem {

        .vacName {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .vacInfo {
            display: flex;
            flex-direction: column;
            gap: 1px;

            font-size: 20px;
        }

        button {
            cursor: pointer;
            background-color: #0D0D2B;
            color: white;
            font-size: 20px;
            border-radius: 20px;
            padding: 12px 21px;
            border: none;
            transition: .3s;

            a:visited {
                color: white;
            }

            &:hover {
                transition: .3s;
                transform: scale(1.2);
                background-color: #4b4b84;
            }
        }
    }
}