.FAQList {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 2rem;

    .search {
        border: none;
        border-radius: 5px;

        padding-left: 2rem;
        padding: 16px;

        font-size: 20px;
    }
}

